---
layout: default
---
<div class="post">
  <div class="about-header-flex">
    {% if page.profile %}
      <div class="profile">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
          {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}
    <div class="about-main-text">
      <header class="post-header">
        <h1 class="post-title">
          {% if site.title == 'blank' %}
            <span class="font-weight-bold">{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} (易璐)</span>
          {% else %}
            {{ site.title }}
          {% endif %}
        </h1>
        <p class="desc">{{ page.subtitle }}</p>
      </header>
      <div class="my-social-icons" style="margin-top: 0.3rem;">
        <a href="mailto:yilu@ruc.edu.cn" title="Email" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://scholar.google.com/citations?user=xCFxaiYAAAAJ&hl=zh-CN" title="Google Scholar" target="_blank" style="line-height:0;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="1.9rem" height="1.9rem" style="vertical-align:middle;"><path fill="#0072b1" d="M 25 3 C 12.85 3 3 12.85 3 25 C 3 37.15 12.85 47 25 47 C 37.15 47 47 37.15 47 25 C 47 12.85 37.15 3 25 3 z M 21 11 L 38 11 L 36.980469 11.880859 C 36.980469 11.920859 37 11.96 37 12 L 37 17.279297 C 37.6 17.619297 38 18.26 38 19 L 38 25 C 38 26.1 37.1 27 36 27 C 34.9 27 34 26.1 34 25 L 34 19 C 34 18.26 34.4 17.619297 35 17.279297 L 35 13.570312 L 31.410156 16.650391 C 31.760156 17.350391 32 18.200234 32 19.240234 C 32 21.960234 30.480703 23.309766 28.970703 24.509766 C 28.500703 24.989766 27.949219 25.510312 27.949219 26.320312 C 27.949219 27.120313 28.500391 27.570625 28.900391 27.890625 L 30.189453 28.919922 C 31.779453 30.279922 33.220703 31.530547 33.220703 34.060547 C 33.220703 37.510547 29.930469 41 23.730469 41 C 18.500469 41 15.980469 38.47 15.980469 35.75 C 15.980469 34.43 16.629766 32.559531 18.759766 31.269531 C 20.989766 29.879531 24.020391 29.690078 25.650391 29.580078 C 25.140391 28.920078 24.560547 28.230078 24.560547 27.080078 C 24.560547 26.470078 24.749687 26.100391 24.929688 25.650391 C 24.529688 25.690391 24.129531 25.730469 23.769531 25.730469 C 19.969531 25.730469 17.799297 22.85 17.779297 20 L 11 20 L 21 11 z M 24.269531 14.240234 C 23.339531 14.240234 22.33 14.710938 21.75 15.460938 C 21.14 16.220938 20.949219 17.210156 20.949219 18.160156 C 20.949219 20.620156 22.370938 24.699219 25.460938 24.699219 C 26.370938 24.699219 27.339922 24.259922 27.919922 23.669922 C 28.739922 22.819922 28.820312 21.65 28.820312 21 C 28.820312 18.35 27.269531 14.240234 24.269531 14.240234 z M 26.039062 30.609375 C 25.719062 30.609375 23.769766 30.679219 22.259766 31.199219 C 21.459766 31.499219 19.160156 32.370469 19.160156 34.980469 C 19.160156 37.590469 21.64 39.460938 25.5 39.460938 C 28.97 39.460938 30.800781 37.760234 30.800781 35.490234 C 30.800781 33.620234 29.620859 32.630391 26.880859 30.650391 C 26.590859 30.610391 26.409063 30.609375 26.039062 30.609375 z"/></svg>
        </a>
        <a href="https://github.com/luyi256" title="GitHub" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/lu-yi-53270233b" title="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://x.com/YiLu_u" title="X" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  </div>
  <article>
    <div class="clearfix">{{ content }}</div>
  </article>
  <!-- News/Posts/Papers/Social 保持原样 -->
  {% if page.news and site.announcements.enabled %}
    <h2>
      <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
    </h2>
    {% include news.liquid limit=true %}
  {% endif %}
  {% if page.latest_posts %}
    <h2>
      <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
    </h2>
    {% include latest_posts.liquid %}
  {% endif %}
  {% if page.selected_papers %}
    <h2>
      <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
    </h2>
    {% include selected_papers.liquid %}
  {% endif %}
</div>
